name: Generate Calendars and Publish to GitHub Pages

on:
  schedule:
    - cron: "0 0 * * *" # Daily

  push:
    branches:
      - main  

jobs:
  build:
    uses: ./.github/workflows/build-calendars.yml


  deploy:

    # Always run this deploy, even if the build failed. This is so we get newest results even if a calendar had errors
    if: always()
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy artifact
        id: deployment
        uses: actions/deploy-pages@v4
