name: Generate Calendars and Publish to GitHub Pages

on:
  schedule:
    - cron: "0 0 * * *" # Daily
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual triggering  

jobs:
  build:
    uses: ./.github/workflows/build-calendars.yml
    secrets: inherit

  check-errors:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Check Error Count
      env:
        ERROR_COUNT: ${{ needs.build.outputs.error-count }}
      # Fail this if we have a positive error count.
      # This way we keep publishing our calendars even if there are errors, but we get a notification from this failed step
      run: (( $ERROR_COUNT == 0 ))

  deploy:
    # Always run this deploy, even if the build failed. This is so we get newest results even if a calendar had errors
    if: always()
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy artifact
        id: deployment
        uses: actions/deploy-pages@v4
